aws_eks_cluster_ca_certificate = <<EOT
${aws_eks_cluster_ca_certificate}
EOT

aws_eks_cluster_endpoint = "${aws_eks_cluster_endpoint}"
aws_eks_cluster_name     = "${aws_eks_cluster_name}"
jumpbox_data             = "${jumpbox_data}"
